# Deepgram Text-to-Speech API Key (Có sẵn $200 free credit khi tạo tài khoản deepgram.com)
VITE_DEEPGRAM_API_KEY=1a8e9adfba4c8f24e728c774897605c143fa8808

# Google Cloud Text-to-Speech API Key (1.000.000 ký tự Free/tháng)
VITE_GOOGLE_TTS_API_KEY=
